#contactManager_container
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #000080;
    background-color: #CCCCCC;
    width: 450px;
    min-height: 300px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}
#contactManager_newContact
{
    width: 275px;
    float: left;
}
.contactManager-button:hover
{
    background-color: #FFE8A6;
    cursor: pointer;
}
.contactManager-button
{
    font-size: 1.2em;
    font-weight: bold;
    color: #000080;
    background-color: #DFEFFF;
    border: 1px solid #000080;
    height: 50px;
    width: 150px;
}
.contactManager-horizontalList
{
    margin: 0px 0px 0px 0px;
}
.contactManager-horizontalList li
{
    display: inline;
    list-style-type: none;
}
#contactManager_errorMsg
{
    clear: both;
    padding: 2px;
    margin: 5px;
    background-color: #FFFFCC;
    border: 1px solid #FF0000;
    color: #FF0000;
}
#gvContactList
{
    width: 100%;
}
#contactManager_newContact label
{
    display: inline-block;
    width: 100px;
}
#contactManager_updateProgress
{
    
}